.container {
  padding: 0 40px;
  width: 100%;
}

.align-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.v-hidden {
  visibility: hidden;
}