.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 20px 0 0;

  &__toggler {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: $white-alpha-25;
    border: 1px solid $white-alpha-40;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    z-index: 1;

    &.active {
      span {
        background-color: transparent;
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    span {
      height: 2px;
      width: 24px;
      background-color: $primary;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
        transition: all 0.3s ease;
      }

      &::before {
        left: 0;
        transform: translateY(-8px);
      }

      &::after {
        right: 0;
        transform: translateY(8px);
      }
    }

    &:hover {
      &:not(.active) {
        span {
          &::before,
          &::after {
            width: 50%;
          }
        }
      }
    }
  }

  .nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    padding: 35px 15px;
    overflow-y: auto;

    &__inner {
      min-height: calc(100vh - 70px);
      max-width: 1200px;
      margin: auto;
      background-color: $white-alpha-25;
      border: 1px solid $white-alpha-40;
      backdrop-filter: $backdrop-filter-blur;
      padding: 50px 0;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        li {
          text-align: center;

          a {
            font-size: 40px;
            text-transform: capitalize;
            color: $blue-dark;
            display: block;
            font-weight: 500;
            padding: 8px 15px;
            transition: color 0.3s ease;
            position: relative;

            &:hover {
              color: $primary;

              &::before {
                width: 100%;
              }
            }

            &::before {
              content: "";
              position: absolute;
              right: 0;
              bottom: 0;
              height: 50%;
              width: 0;
              background-color: $white-alpha-25;
              z-index: -1;
              transition: width 0.5s ease;
            }
          }
        }
      }
    }
  }
}
