.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  backdrop-filter: $backdrop-filter-blur;
  background-color: $white-alpha-25;
  border: 1px solid $white-alpha-40;
  border-radius: 0 0 5px 5px;
  z-index: 1;
  height: 100px;
  display: flex;
  align-items: center;

  .nav {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $padding-h*2;

    &__icon {
      display: none;
    }

    &__logo {
      font-size: 40px;
      color: $blue-dark;
      font-weight: 500;
    }

    &__items {
      ul {
        display: flex;

        li {
          margin: 0 $padding-h/2;
          a {
            font-size: 20px;
            color: $blue-dark;
            font-weight: 500;
            text-transform: capitalize;
            transition: all 0.3s ease;

            &:hover {
              color: white;
            }
          }
        }
      }
    }

    &__item {
      padding: $padding-h;
      border-radius: 20px;

      &-active {
        background-color: $primary;
        color: white !important;
      }
    }
  }
}

@media screen and (max-width: $bp-x-small) {
  .navbar {
    .nav {
      background-color: green;
      &__icon {
        display: inline;
      }

      &__items {
        position: absolute;
        right: -100px;
        top: 0;
        height: 100vh;
        background-color: red;

        ul {
          flex-direction: column;
        }
      }
    }
  }
}
