.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: red;
  z-index: 1;

  
  &__toggler {
    &.active {
    }

    span {
    }
  }

  .nav {
    &__inner {
      ul {
        li {
          a {
          }
        }
      }
    }
  }
}
