.project {
  height: 100%;
  width: 100%;

  &__inner {
    min-height: 100vh;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    background-color: $white-alpha-25;
    padding: 30px;
    border-radius: 30px;
    width: 100%;
    border: 1px solid $white-alpha-40;
    backdrop-filter: $backdrop-filter-blur;
  }

  &__header {
    h3 {
      font-size: 25px;
      text-transform: capitalize;
      margin: 20px 0 15px;
    }
  }

  &__thumbnail {
    display: flex;
    justify-content: center;

    img {
      border-radius: 10px;
      max-width: 50%;
    }
  }

  &__body {
    .description {
      h1,
      h2,
      h3,
      img {
        margin-top: 20px;
      }
    }
  }

  &__general {
    margin-top: 20px;
    li {
      margin-bottom: 10px;
      font-weight: 500;
      text-transform: capitalize;

      span {
        font-weight: 300;
        a {
          text-transform: lowercase;
          color: $primary;
        }
      }
    }
  }
}

@media screen and(max-width: $bp-x-small) {
  .project {
    &__thumbnail {
      img {
        max-width: 100%;
      }
    }
  }
}
