.about {
  &__section {
    padding: $padding-vertical/2 0;
    margin: 32px 0;
  }

  &__title {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;

    h2 {
      font-size: 40px;
      text-transform: capitalize;
    }
  }

  &__img {
    width: 40%;
    padding: 0 15px;

    .img-box {
      background-color: $white-alpha-25;
      max-width: 380px;
      border: 1px solid $white-alpha-40;
      margin: auto;
      border-radius: 10px;

      img {
        width: 100%;
      }
    }
  }

  &__text {
    width: 60%;
    padding: 0 15px;

    h3 {
      text-transform: capitalize;
      font-size: 20px;
      margin: 20px 0;
    }

    .btn {
      margin: 0 15px 15px 0;
    }
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;

    &__item {
      background-color: $white-alpha-25;
      border: 1px solid $white-alpha-40;
      padding: 5px 15px;
      text-transform: capitalize;
      margin: 0 15px 15px 0;
      border-radius: 20px;
    }
  }

  &__tabs {
    margin-top: 20px;

    &__content {
      padding: 40px 0;

      &.active {
        display: block;
      }
    }

    &__item {
      padding: 2px 0;
      background-color: transparent;
      border: none;
      text-transform: capitalize;
      display: inline-block;
      color: $blue-dark;
      font-size: 20px;
      cursor: pointer;
      font-weight: 500;
      margin: 0 30px 0 0;
      position: relative;
      opacity: 0.5;
      transition: all 0.3s ease;

      &.active {
        color: $primary;
        opacity: 1;
        cursor: auto;

        &::before {
          width: 100%;
          background-color: $primary;
        }
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background-color: $blue-dark;
        transition: width 0.3s ease;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
