.contact {
  margin: 40px 0;

  &__section {
    padding-bottom: 40px;
  }

  &__title {
    padding: 0 15px;
    margin: 40px 0;
    width: 100%;
    text-align: center;

    h2 {
      font-size: 40px;
      text-transform: capitalize;
    }
  }

  &__content {
    display: flex;
  }

  &__form,
  &__info {
    width: 50%;
    padding: 0 15px;
  }

  &__info {
    &__item {
      margin: 0 0 30px;
      padding: 0 0 0 20px;

      h3 {
        font-size: 20px;
        text-transform: capitalize;
        margin: 0 0 5px;
      }
    }
  }

  &__social-links {
    &__item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $white-alpha-25;
      border: 1px solid $white-alpha-40;
      color: $primary;
      border-radius: 50%;
      margin: 6px 4px 0 0;
      transition: all 0.3s ease;
      cursor: pointer;
      width: 40px;
      height: 40px;

      svg {
        width: 25px;
        height: 25px;
      }

      &:hover {
        color: white;
        background-color: $primary;
      }
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 30px;

    textarea {
      height: 120px;
      resize: none;
      padding-top: 15px;
    }

    &-control {
      display: block;
      width: 100%;
      height: 50px;
      border-radius: 25px;
      border: 1px solid transparent;
      font-family: inherit;
      font-weight: 400;
      font-size: 16px;
      background-color: $white-alpha-25;
      padding: 0 20px;
      color: $blue-dark;
      transition: border-color 0.3s ease;

      &::placeholder {
        color: $blue-dark;
        opacity: 0.8;
        font-weight: 300;
      }

      &:focus {
        border-color: $white-alpha-40;
      }
    }
  }
}

@media screen and(max-width: $bp-x-small) {
  .contact {
    &__content {
      display: flex;
      flex-direction: column;
    }

    &__info {
      order: 1;
      width: 100%;
    }

    &__form {
      order: 2;
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}
