.home {
  &__section {
    display: flex;
    padding: 0 0;
    margin: 32px 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__text {
    p {
      font-size: 18px;
    }
    h1 {
      font-size: 50px;
      text-transform: capitalize;
    }
    h2 {
      font-size: 20px;
      text-transform: capitalize;
      font-weight: 300;
      margin: 0 0 30px;
    }

    .btn {
      margin: 0 15px 15px 0;
    }
  }

  &__img {
    .img-box {
      max-width: 360px;
      background-color: $white-alpha-25;
      border-radius: 50%;
      border: 8px solid $white-alpha-25;
      margin: auto;
      min-width: 180px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  &__text,
  &__img {
    width: 50%;
    padding: 15px;
  }
}

@media screen and (max-width: $bp-x-small) {
  .home {
    &__content {
      flex-direction: column;
    }

    &__img {
      order: 1;
      width: 100%;
    }

    &__text {
      order: 2;
      text-align: center;
      width: 100%;

      p {
        font-size: 18px;
      }

      h1 {
        font-size: 32px;
        text-transform: capitalize;
      }

      h2 {
        font-size: 24px;
        text-transform: capitalize;
        font-weight: 300;
        margin: 0 0 30px;
      }

      .btn {
        margin: $padding-h/2 0;
      }
    }
  }
}
