.main {
  max-width: 1200px;
  margin: auto;
  transition: all 0.3s ease;
}

.home {
  &__section {
    display: flex;
    padding: 120px 0;
    margin: 32px 0;
  }

  &__text {
    p {
      font-size: 18px;
    }
    h1 {
      font-size: 50px;
      text-transform: capitalize;
    }
    h2 {
      font-size: 20px;
      text-transform: capitalize;
      font-weight: 300;
      margin: 0 0 30px;
    }

    .btn {
      margin: 0 15px 15px 0;
    }
  }

  &__img {
    .img-box {
      max-width: 360px;
      background-color: $white-alpha-25;
      border-radius: 50%;
      border: 8px solid $white-alpha-25;
      margin: auto;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  &__text,
  &__img {
    width: 50%;
    padding: 15px;
  }
}
