.works {
  &__section {
    padding-bottom: 50px;
    margin: 32px 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin: 40px 0;

    h2 {
      font-size: 40px;
      text-transform: capitalize;
    }
  }

  &__item {
    width: 30%;
    margin: 0 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &:hover {
      background-color: $white-alpha-40;
      border-radius: 10px;
    }

    h3 {
      font-size: 20px;
      text-transform: capitalize;
      margin: 20px 0;
    }

    &__thumbnail {
      padding: 10px;
      background-color: $white-alpha-25;
      border: 1px solid $white-alpha-40;
      border-radius: 10px;
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    &__details {
      display: none;
    }

    &__meta {
      font-weight: 400;
      margin: 10px 0;
    }
  }
}

@media screen and (max-width: $bp-x-small) {
  .works {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 0 $padding-h * 2 0 !important;

      h3 {
        font-size: 16px;
      }
    }
  }
}
