.works {
  &__section {
    padding-bottom: 50px;
    margin: 32px 0;
  }

  &__content {
    display: flex;
  }

  &__title {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin: 40px 0;

    h2 {
      font-size: 40px;
      text-transform: capitalize;
    }
  }

  &__item {
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    h3 {
      font-size: 20px;
      text-transform: capitalize;
      margin: 20px 0;
    }

    &__thumbnail {
      padding: 10px;
      background-color: $white-alpha-25;
      border: 1px solid $white-alpha-40;
      border-radius: 10px;
      min-width: 180px;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    &__details {
      display: none;
    }
  }
}

@media screen and (max-width: $bp-x-small) {
  .works {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: center;
      width: 100%;

      h3 {
        font-size: 16px;
      }
    }
  }
}
