// variables
@import "./variables.scss";

// utils
@import "./utils/container.scss";
@import "./utils/row.scss";

// pages
@import "./pages/home.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, $pink-light, $cyan-light);
  font-size: 16px;
  color: $blue-dark;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;

  ::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $green-yellow;
    z-index: -1;
    opacity: 0.08;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

section {
  background-color: $white-alpha-25;
  border: 1px solid $white-alpha-40;
  min-height: 90vh;
  border-radius: 30px;
}
