@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// variables
@import "./variables.scss";

// utils
@import "./utils/container.scss";
@import "./utils/row.scss";
@import "./utils/button.scss";

// components
@import "./components/timeline.scss";

// pages
@import "./pages/home.scss";
@import "./pages/aboutme.scss";
@import "./pages/works.scss";
@import "./pages/project.scss";
@import "./pages/contact.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  &-track {
    background-color: white;
  }
  &-thumb {
    background-color: $primary;
  }
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, $pink-light, $cyan-light);
  background-attachment: fixed;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: $blue-dark;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;

  ::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $green-yellow;
    z-index: -1;
    opacity: 0.01;
    border-radius: 30px;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

section {
  background-color: $white-alpha-25;
  border: 1px solid $white-alpha-40;
  min-height: 90vh;
  border-radius: 30px;
  backdrop-filter: $backdrop-filter-blur;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 600;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

button {
  font-family: inherit;
  user-select: none;
}

ul {
  list-style: none;
}
