// colors
$primary: #e02f6b;
$blue: #0000ff;
$blue-dark: #18293c;
$orange: #ffa500;
$green-yellow: #cddc39;
$pink: rgb(159, 0, 199);
$pink-light: #efa2b4;
$cyan-light: #aef1ee;
$white: #ffffff;
$white-alpha-80: rgba(255, 255, 255, 0.8);
$white-alpha-40: rgba(255, 255, 255, 0.4);
$white-alpha-25: rgba(255, 255, 255, 0.25);

// blur
$backdrop-filter-blur: blur(5px);

// padding
$padding-vertical: 80px;
$padding-h: 16px;

// breakpoints
$bp-x-small: 600px;
$bp-small: 960px;
$bp-medium: 1264px;
